.cover__subtitle {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
}
@media (max-width: 767px) {
    .cover__subtitle {
            width: 288px;
            font-size: 14px;
            line-height: 16px;
        }
}