.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 48px;
    align-items: start;
    justify-items: start;
}

@media (max-width: 767px) {
    .place {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 32px;
        }
}